@import "/src/styles/variables.module.scss";

.ContactRow{
    min-height: 64px;
    padding-top: 22px;
    padding-left: 30px;
    padding-right: 30px;

    .contactRowPictureItemContainer{
        margin: auto;
        .contactRowPicture{
            height: 40px;
            width: 40px;
            border: solid 1px $grey60;
            border-radius: 50%;
        }
    }

    .contactRowName{
        font-family: "LexendDeca", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1%;
        color: $maxWhite;
    }

    .contactRowNumber{
        font-family: "LexendDeca", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 1%;
        color: $maxWhite;
        opacity: 56%;
    }

    .iconsOnHoverOnlyContainer{
        margin: auto;

        .iconsOnHoverOnly{
            border-radius: 8px;
            visibility: hidden;

            &.open {
                visibility: visible;
            }
        }
        .iconsOnHoverOnly:hover{
            background-color: $grey90;
        }
        .iconsOnHoverOnly:active{
            background-color: $grey80;
        }

        &:hover{
            .iconsOnHoverOnly{
                visibility: visible;
            }
        }
    }

    @media screen and (max-width: 485px)  {
        padding-left: 15px;
        padding-right: 15px;
        .iconsOnHoverOnlyContainer{
            .iconsOnHoverOnly {
                &.hideOnSmall{
                    display: none;
                }
            }
        }
    }
    

    @media screen  and (max-width: 485px) and (min-width: 440px)  {
        .contactRowName {
            margin-left: -5px;
        }
        .contactRowNumber {
            margin-left: -5px;
        }
    }

    @media screen  and (max-width: 380px) {
        .contactRowName {
            margin-left: 10px;
        }
        .contactRowNumber {
            margin-left: 10px;
        }
    }
}
