$maxBlack: #000000;
$maxWhite: #FFFFFF;
$grey100: #141414;
$grey90: #191919;
$grey80: #1E1E1E;
$grey70: #232323;
$grey60: #282828;
$grey50: #2D2D2D;
$grey40: #323232;
$grey30: #373737;
$grey20: #3C3C3C;
$grey10: #414141;

:export {
    maxBlack: $maxBlack;
    maxWhite: $maxWhite;
    grey100: $grey100;
    grey90: $grey90;
    grey80: $grey80;
    grey70: $grey70;
    grey60: $grey60;
    grey50: $grey50;
    grey40: $grey40;
    grey30: $grey30;
    grey20: $grey20;
    grey10: $grey10;
  }