@import "/src/styles/variables.module.scss";

.ContactsPage{
    color: $maxWhite;

    .contactsGridContainer{
        min-height: calc(100vh - 192px);
        
        .contactsGridContainerCenter{
            border-right: solid 1px;
            border-left: solid 1px;
            border-color: $grey60;
            padding-bottom: 30px;
        }
    }

    @media screen and (max-width: 699px)  {
        .contactsGridContainer {
            min-height: calc(100vh - 144px);
        }
    }
}