@import "/src/styles/variables.module.scss";

.ContactsPageHeader{

    .rowGridContainer{
        height: 96px;
        border-bottom: solid 1px;
        border-color: $grey60;

        @media screen and (max-width: 699px)  {
            &.topHeader {
                height: 48px;
            }
        }

        .rowGridItem{

            &.border{
                border-right: solid 1px;
                border-color: $grey60;
            }

            .verticalCenterContainer{
                height: 96px;

                &.middle{
                    padding-left: 30px;
                    padding-right: 30px;
                }
                @media screen and (max-width: 599px)  {
                    &.middle{
                        text-align: center;
                        align-content: center;
                        padding-bottom: 10px;
                        padding-left: 5px;
                        padding-right: 5px;

                        .headerMiddleIconContainer{
                            justify-content: center;
                        }
                    }
    
                }
            }


            .secondaryIcon{
                border-radius: 8px;

                &.backArrowIconContainer{
                    margin-right: 30px;
                }

                &.LightModeIconContainer{
                    margin-left: 30px;
                }

                @media screen and (max-width: 899px) and (min-width: 600px)  {
                    &.backArrowIconContainer {
                        margin-right: 10px;
                    }
                    &.LightModeIconContainer {
                        margin-left: 10px;
                    }
                }
                @media screen and (max-width: 599px)  {
                    &.backArrowIconContainer {
                        margin-right: 5px;
                    }
                    &.LightModeIconContainer {
                        margin-left: 5px;
                    }
                }
            }

            .secondaryIcon:hover {
                background-color: $grey90;
            }

            .secondaryIcon:active {
                background-color: $grey80;
            }

            .titleTextContacts{
                font-family: "Glysa", sans-serif;
                font-weight: 500;
                font-size: 32px;
                line-height: 48px;
            }

            .addNewButton{
                color: $maxWhite;
                font-family: "LexendDeca", sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 1%;
                background:linear-gradient(0deg, $grey60 70%, $grey60 100%);
                padding: 8px 16px 8px 12px;
                margin-left: 10px;
                border: solid 1px linear-gradient(0deg, $grey20 100%, $grey20 0%);
                border-radius: 20px;
            }

            @media screen and (max-width: 329px)  {
                .addNewButton {
                    margin-left: 4px;
                }
            }
        }
    }
}